*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background:url(https://assets.atdw-online.com.au/images/a11021df8ac18bcfc096922562e5b24f.jpeg?rect=222) no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;
}
.accordian{
    width: 70%;
    background-color: #fff;
    padding: 30px;
    border-radius: 30px;
}
.accordian .accordian-title{
    margin-bottom: 35px;
    text-align:center;
}
.accordian .content-container .question{
    padding:18px 0px;
    font-size:22px;
    cursor: pointer;
    border-bottom:1px solid #000;
    position: relative;
}
.accordian .content-container .question::after{
    content: '+';
    position: absolute;
    right: -5px;
}
.accordian .content-container .answer{
    padding-top: 20px;
    font-size: 24px;
    line-height: 1.3;
    width: 100%;
    height: 0px;
    overflow: hidden;
    transition: .5s;
}
/* Javscript Styling */
.accordian .content-container.active .answer{
    height: 150px;
}
.accordian .content-container.active .question{
    font-size: 18px;
    transition: .5s;
}
.accordian .content-container.content-container .active .question::after{
    content: '-';
    font-size: 25px;

    transition: .5s;
}
